@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


:root {
    /* theme palette */
    --primary-background: #212432;
    --secondary-background: #292d3e;
    --muted-background: #25293A;
    --primary-foreground: #fff;
    --secondary-foreground: #bfc7cf;
    --muted-foreground: #8f7951;
    --primary: #7e57c2cc;
    --secondary: #ffcb64;
    --info: #82AAFF;
    --success: #a6e88d;
    --destructive: #ff5572;
    --border: #2C2F40;

    --button: #7e57c2cc;
    --button-hover: #7e57c2;
    --success-button: #a6e88d;
    --success-button-hover: #b3f49c;
    --secondary-button: #ffcb64;
    --secondary-button-hover: #ffd787;
    --destructive-button: #ff5572;
    --destructive-button-hover: #f8798e;


    --user-select-color: #212432;
    --user-select-background: #7e57c2cc;


    /* settings */
    --logo-width: 60px;
    --logo-height: 60px;

    /* added by the script */
    --logo-filter-invert: 1;
}

/* Global */
.intanet-themes body {
    background-color: var(--secondary-background) !important;
    color: var(--secondary-foreground) !important;
    font-family: 'Inter', "aktiv-grotesk", sans-serif !important;
}

.intanet-themes ::selection {
    color: var(--user-select-color) !important;
    background-color: var(--user-select-background) !important;
}

.intanet-themes input,
.intanet-themes .form-control {
    color: var(--secondary-foreground) !important;
    background-color: var(--primary-background) !important;
    box-shadow: none !important;

}

.intanet-themes a {
    color: var(--primary) !important;
}

.intanet-themes * {
    border-color: var(--border) !important;
    box-shadow: none !important;
}

.intanet-themes small {
    color: var(--secondary-foreground) !important;
}

.intanet-themes button,
.intanet-themes .btn.btn-default,
.intanet-themes input[type="submit"] {
    background-color: var(--button) !important;
    color: var(--secondary-foreground) !important;
    border-color: var(--button-hover) !important;
    outline: none !important;
}

.intanet-themes .text-primary {
    color: var(--primary) !important;
}

.intanet-themes .text-success {
    color: var(--success) !important;
}

.intanet-themes .text-danger {
    color: var(--destructive) !important;
}

.intanet-themes .btn-outline-primary {
    background-color: transparent !important;
    color: var(--primary) !important;
    border-color: var(--primary) !important;
    outline: none !important;
}

.intanet-themes .btn-outline-primary:hover {
    background-color: transparent !important;
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.intanet-themes .btn-success {
    background-color: var(--success-button) !important;
    color: var(--secondary-background) !important;
    border-color: var(--success-button-hover) !important;
    outline: none !important;
}

.intanet-themes .btn-success:hover {
    background-color: var(--success-button-hover) !important;
    color: var(--primary-background) !important;
}

.intanet-themes .btn-secondary,
.intanet-themes .btn-warning {
    background-color: var(--secondary-button) !important;
    color: var(--secondary-background) !important;
    border-color: var(--secondary-button-hover) !important;
    outline: none !important;
}

.intanet-themes .btn-secondary:hover,
.intanet-themes .btn-warning:hover {
    background-color: var(--secondary-button-hover) !important;
    color: var(--primary-background) !important;
}

.intanet-themes .btn-danger {
    background-color: var(--destructive-button) !important;
    color: var(--secondary-background) !important;
    border-color: var(--destructive-button-hover) !important;
    outline: none !important;
}

.intanet-themes .btn-danger:hover {
    background-color: var(--destructive-button-hover) !important;
    color: var(--primary-background) !important;
}

.intanet-themes button:hover,
.intanet-themes .btn.btn-default:hover,
.intanet-themes input[type="submit"]:hover {
    background-color: var(--button-hover) !important;
    color: var(--primary-foreground) !important;
    border-color: var(--button-hover);
}

.intanet-themes .bg-primary {
    background-color: var(--primary) !important;
}

.intanet-themes .list-group-item {
    background-color: var(--primary-background) !important;
    color: var(--secondary-foreground) !important;
}

.intanet-themes .panel {
    background-color: var(--primary-background) !important;
    color: var(--secondary-foreground) !important;
}

.intanet-themes .panel.panel-default .panel-heading .panel-title {
    color: var(--primary-foreground) !important;
}

.intanet-themes .panel.panel-default {
    border-color: var(--border) !important;
}

.intanet-themes .panel-default>.panel-heading {
    color: var(--secondary-background) !important;
    background-color: var(--primary-background) !important;
}

.panel.panel-default .panel-heading .panel-title i.panel-title-icon {
    color: var(--secondary-foreground) !important;
    background-color: var(--secondary-background) !important;
}

.intanet-themes .text-muted {
    color: var(--muted-foreground) !important;
}

.intanet-themes .dropdown-menu {
    background-color: var(--secondary-background) !important;
}

.intanet-themes .dropdown-menu>li>a {
    color: var(--primary-foreground) !important;
}

.intanet-themes .dropdown-menu>li .text-muted {
    color: var(--success) !important;
    margin-top: 4px;
}

.intanet-themes .dropdown-menu>li a:hover {
    background-color: var(--muted-background) !important;
}

.intanet-themes hr {
    border-color: var(--border) !important;
}

.intanet-themes table {
    color: var(--secondary-foreground) !important;
    border-radius: 10px !important;
}

.intanet-themes table tr {
    background-color: var(--primary-background) !important;
    margin-bottom: 20px !important;
}

.intanet-themes table img {
    border-radius: 5px !important;
}

.intanet-themes img.placeholder-user {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 50px !important;
    width: 50px !important;
}

.intanet-themes h1,
.intanet-themes h2 {
    color: var(--secondary-foreground) !important;
}

.intanet-themes .form-control {
    height: initial;
}

.intanet-themes .gap {
    margin-top: 25px !important;
}

.intanet-themes .user-reports-card .alert {
    border: 0 !important;
    padding: 10px 24px 0px !important;
}

.intanet-themes .label.label-info,
.intanet-themes .label.label-default,
.intanet-themes .alert.alert-info {
    background-color: var(--secondary-background) !important;
    color: var(--secondary-foreground) !important;
    border-color: var(--border) !important;
}

.intanet-themes .label.label-success,
.intanet-themes .alert.alert-success {
    background-color: var(--success) !important;
    color: var(--primary-background) !important;
    border-color: var(--border) !important;
}

.intanet-themes .label.label-primary,
.intanet-themes .alert.alert-primary {
    background-color: var(--primary) !important;
    color: var(--primary-background) !important;
    border-color: var(--border) !important;
}

.intanet-themes .well {
    background-color: var(--primary-background) !important;
    color: var(--success) !important;
}

.intanet-themes code {
    background-color: var(--secondary-background) !important;
    color: var(--primary) !important;
    border-color: var(--border) !important;
}

.intanet-themes .formatted-content pre {
    color: var(--primary) !important;
    background-color: var(--primary-background) !important;
}

.intanet-themes table,
.intanet-themes table tr,
.intanet-themes table td {
    border-color: var(--border) !important;
}

.intanet-themes .modal .modal-content {
    background-color: var(--secondary-background) !important;
}

.intanet-themes .modal .modal-content .modal-title {
    color: var(--primary-foreground) !important;
}

.intanet-themes .modal .modal-content .modal-header button.close {
    background-color: transparent !important;
    color: var(--primary-foreground) !important;
}

.intanet-themes .modal .modal-content .modal-header {
    border-color: var(--primary-background) !important;
}

.intanet-themes .copyright {
    color: var(--secondary-foreground) !important;
}

.intanet-themes label.control-label {
    color: var(--secondary-foreground) !important;
}

.intanet-themes .help-block {
    color: var(--muted-foreground) !important;
}

.intanet-themes .help-block code {
    background-color: var(--primary-background) !important;
    color: var(--primary) !important;
    border-color: var(--border) !important;
}

.intanet-themes input[type="file"]::-webkit-file-upload-button {
    background-color: var(--button);
    color: var(--secondary-foreground) !important;
    border: var(--border) !important;
    border-radius: 5px !important;
    cursor: pointer !important;
}

.intanet-themes .border-left-success {
    border-left-color: var(--success) !important;
}

.intanet-themes .border-left-info {
    border-left-color: var(--info) !important;
}

/* Header */
.intanet-themes .header,
.intanet-themes .navbar {
    background-color: var(--primary-background) !important;
    color: var(--secondary-foreground) !important;
    border-color: var(--border) !important;
}

.intanet-themes .header .header-left .hamburger,
.intanet-themes .navbar .navbar-toggle {
    color: var(--secondary-foreground) !important;
    font-size: 22px !important;
    border: 0 !important;
}

.intanet-themes .header .header-left .hamburger:hover,
.intanet-themes .navbar .navbar-toggle {
    color: var(--primary-foreground) !important;
    background-color: transparent !important;
}

.intanet-themes .header .logo,
.intanet-themes .navbar .logo {
    /* Ensure the logo matches the theme mode */
    filter: invert(var(--logo-filter-invert)) !important;
    width: var(--logo-width) !important;
    height: var(--logo-height) !important;
}

.intanet-themes .navbar-default .navbar-collapse,
.intanet-themes .navbar-default .navbar-form {
    border-color: var(--border) !important;
}

.intanet-themes .navigation>ul>li a .visible-xs {
    color: var(--secondary-foreground) !important;
}

/* Sidebar */
.intanet-themes .sidebar {
    background-color: var(--primary-background) !important;
    color: var(--secondary-foreground) !important;
    border-color: var(--border) !important;

}

.intanet-themes .sidebar a {
    color: var(--secondary-foreground) !important;
}

.intanet-themes .sidebar>ul>li:has(.active) {
    background-color: var(--muted-background) !important;
    color: var(--primary) !important;
    font-weight: bold !important;
}

.intanet-themes .sidebar>ul>li:hover {
    background-color: var(--muted-background) !important;
}

.intanet-themes .sidebar>ul>li:hover * {
    color: var(--primary-foreground) !important;
}

.intanet-themes .sidebar>ul>li:has(.active):hover * {
    color: var(--secondary-foreground) !important;
}

.intanet-themes .sidebar>ul>li:has(.active):hover .icon i {
    color: var(--primary) !important;
}

.intanet-themes .sidebar>ul>li:hover .fa-discord {
    /*Discord icon*/
    color: #5865f2 !important;
}

.intanet-themes .navigation>ul>li a .icon.active,
.intanet-themes .navigation>ul>li a .image.active {
    background-color: transparent !important;
    color: var(--primary) !important;
}

.intanet-themes .sidebar.navigation>ul>li:last-of-type {
    background-color: var(--secondary-background) !important;
    border: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

}

.intanet-themes body:not(.sidebar-collapsed) .sidebar.navigation>ul>li:last-of-type {
    width: 230px !important;
    margin-left: 10px !important;
    border-top: 1px solid var(--border) !important;
    padding: 5px 0 !important;
}

.intanet-themes .navigation>ul>li .text-muted {
    color: var(--secondary-foreground) !important;
}

.intanet-themes .navigation>ul>li .text-muted:hover {
    color: var(--primary-foreground) !important;
}

/* Score Bar */
.intanet-themes #student-switch-curriculum {
    background-color: var(--primary-background) !important;
    border-color: var(--border) !important;
}


.intanet-themes #student-switch-curriculum .text-muted {
    color: var(--secondary) !important;
}

.intanet-themes #student-switch-curriculum-dropdown .text-muted {
    color: var(--success) !important;
    margin-top: 4px;
}

.intanet-themes .fa-angle-up,
.intanet-themes .fa-angle-down {
    color: var(--secondary-foreground) !important;
}

/* Dashboard */
.intanet-themes time {
    background-color: var(--secondary-background) !important;
    box-shadow: var(--secondary-background) 0px 0px 10px 2px !important;
}

.intanet-themes time span {
    color: var(--secondary-foreground) !important;
    font-size: 2em !important;
}

.intanet-themes .panel .bpi-status span.datetime {
    color: var(--muted-foreground) !important;
}

.intanet-themes .panel .bpi-status strong {
    font-weight: normal !important;
}

.intanet-themes .panel.user-reports-card~.panel .panel-heading span.font-weight-bold {
    /* Scores' panel */
    color: var(--success) !important;
    font-weight: normal !important;
}

.intanet-themes .panel .fa-calendar {
    color: var(--secondary-background) !important;
}

.intanet-themes .panel .fa-clock,
.intanet-themes .panel .fa-location-dot {
    color: var(--info) !important;
    opacity: 0.8 !important;
}

.intanet-themes .student-home .paced .panel .panel-body {
    margin-top: 0px !important;
}

/* Score popup */
.intanet-themes .student-home .modal .modal-content table a {
    color: var(--secondary-foreground) !important;
}

.intanet-themes .student-home .modal .modal-content table tr.bg-primary {
    background-color: var(--primary) !important;
    color: var(--primary-background) !important;
    font-weight: bold !important;
    border: 2px solid var(--primary) !important;
}

.intanet-themes .student-home .modal .modal-content table tr.bg-primary td.text-right {
    background-color: var(--primary-background) !important;
    color: var(--success) !important;
}


.intanet-themes .student-home .modal .modal-content table tr td.text-right {
    color: var(--muted-foreground) !important;
    font-weight: bold !important;
}

/* Custom scroll bar */
.intanet-themes *::-webkit-scrollbar-track {
    background-color: var(--primary-background);
    border-radius: 8px;
}

.intanet-themes *::-webkit-scrollbar {
    width: 8px;
    background-color: var(--primary-background);
}

.intanet-themes *::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--primary);
}

html.intanet-themes,
.intanet-themes body {
    /* hide scrollbar of the body/html */
    /* For Firefox */
    scrollbar-width: none !important;
    /* For Internet Explorer and Edge */
    -ms-overflow-style: none !important;
}

#cody-wrapper .cody-launcher body::-webkit-scrollbar {
    /* For Chrome, Safari, and other WebKit browsers */
    display: none !important;
}

/* Search */
.intanet-themes #search-button {
    color: var(--primary) !important;
    background-color: var(--secondary-background) !important;
}

.intanet-themes #search-bar {
    color: var(--secondary-foreground) !important;
    background-color: var(--button) !important;
    border-color: var(--button-hover) !important;
}

/* Assistant button */
.intanet-themes #cody-wrapper .cody-launcher {
    color: var(--primary) !important;
    background-color: var(--secondary-background) !important;
    animation: none !important;
    box-shadow: none !important;
    border: 2px solid var(--primary) !important;
}

.intanet-themes #cody-wrapper .cody-launcher:hover {
    scale: 1 !important;
}

/* Profile Page */
.intanet-themes a.btn[href="/auth/sign_out"] {
    background-color: var(--destructive-button) !important;
    border-color: var(--destructive-button-hover) !important;
    color: var(--primary-foreground) !important;
    margin-bottom: 40px !important;
}

.intanet-themes a.btn[href="/auth/sign_out"]:hover {
    background-color: var(--destructive-button-hover) !important;
    color: var(--primary-foreground) !important;
}

/* Peers Page */

.intanet-themes .universal-pagination {
    bottom: unset !important;
    float: unset !important;
    position: unset !important;
    display: flex !important;
    gap: 10px !important;
    color: var(--secondary-foreground) !important;
    background: var(--primary-background) !important;
    padding: 10px 20px !important;
    border-radius: 10px !important;
    width: max-content !important;
}

/* Sandboxes Page */
.intanet-themes .sandboxes-filters .btn-primary {
    background: var(--button) !important;
    color: var(--secondary-foreground) !important;
}

.intanet-themes .btn-webterm,
.intanet-themes .btn-webterm:hover {
    background-color: var(--secondary-background) !important;
    color: var(--success) !important;
    border-color: var(--success) !important;
}

.intanet-themes .btn-webterm>i[class^='fa-'] {
    color: var(--success) !important;
}

/* Conferencing Rooms Page */
.intanet-themes .panel.video-rooms-head .btn-info,
.intanet-themes .panel.video-rooms-head .btn-info:hover {
    background-color: var(--secondary-background) !important;
    color: var(--info) !important;
    border-color: var(--border) !important
}

.intanet-themes .panel.video-rooms-head .btn-default,
.intanet-themes .panel.video-rooms-head .btn-default:hover {
    background-color: var(--secondary-background) !important;
    color: var(--secondary-foreground) !important;
    border-color: var(--border) !important
}

/* Pagination */
.intanet-themes .pagination .page-gap,
.intanet-themes .pagination .disabled,
.intanet-themes .pagination [aria-disabled=true],
.intanet-themes .pagination .page-gap:hover,
.intanet-themes .pagination .disabled:hover,
.intanet-themes .pagination [aria-disabled=true]:hover {
    border-color: transparent !important;
    color: var(--primary) !important;
    cursor: default !important;
    opacity: 0.5 !important;
}

.intanet-themes .pagination .current,
.intanet-themes .pagination .current:hover,
.intanet-themes .pagination [aria-current]:not([aria-current=false]) {
    background-color: var(--primary) !important;
    border-color: transparent !important;
    color: var(--primary-foreground) !important;
}

/* Concept Page */
.intanet-themes #curriculum_navigation_content .formatted-content {
    margin-left: 0 !important;
}

.intanet-themes .formatted-content h2 {
    margin: 20px 0 !important
}

.intanet-themes .formatted-content code {
    color: var(--primary) !important;
    background-color: var(--primary-background) !important;
}

.intanet-themes .formatted-content img {
    border-radius: 10px !important;
}
